@font-face{
    font-family: 'Medodica';
    src:url('assets/fonts/MedodicaRegular.otf') format('opentype');
}

@font-face{
    font-family: 'Karmatic';
    src: url('assets/fonts/ka1.ttf') format('truetype');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Medodica', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    /* left: 50%;
    right: 50%;
    transform: translateX(-50%); */
    position: relative;
    overflow: hidden;
    text-align: center;
}

.banner{
    position: relative;
    width: 100%;
    margin-top: -50px;
    /* height: 300px; */
}

#banner-heart-l{
    position: absolute;
    top: 42%;
    left: 10%;
    width: 65px;
    /* z-index: 10; */
}
#banner-heart-r{
    position: absolute;
    top:42%;
    right: 10%;
    width: 65px;
    /* z-index: 10; */
}

h2{
    /* font-family: 'Karmatic'; */
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    font-style:bold;
    /* color: rgb(237, 88, 13); */
    color: rgb(110, 117, 160);
    background-color: white;
    padding: 10px 20px;
    font-size: 5.5rem;
}

.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    /* width: 100%;  */
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    /* max-width: 1024px; */
    /* min-width: 320px; */
    /* margin: 20px; */
    border-bottom: solid 2px  rgb(232, 232, 233);
}

.navbar-list{
    display: flex;
    gap: 20px;
}

.nav-item, .nav-item a{
    list-style: none;
    text-decoration: none;
    /* list-style: none; */
    display: flex;
    justify-content: center;
    padding: 2px 5px;
    /* margin: 2px; */
    font-size: 1rem;
    font-weight: bold;
    /* letter-spacing: 2px; */
    margin: 10px 0px;
    color: rgb(118, 118, 118);
}

.nav-item:hover{
    /* background-color: rgb(237, 88, 13); */
    /* color: white; */
    box-shadow: rgb(237, 88, 13) 0px 5px 1px;
    cursor: pointer;
}

.navbar-list img{
    width: 60px;
    margin-top: 12px; padding: 0;
}

.body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.bordered-parah{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* border: 1px solid black; */
    /* border: 5px solid rgba(156, 171, 197, 0.348); */
    background-color:hsla(219, 33%, 90%, 0.383);
    /* background-color: rgb(110, 117, 160); */
    font-family: monospace;
    /* text-align: center; */
    padding: 40px 60px;
    margin: 10px;
    width: 800px;
    /* height: 500px */
}

.body-container img{
    width: 200px;
    right: 0;
    bottom: 0;
}
/* hobby link text */
h4{
 color: rgb(118, 118, 118)
}

h3{
    color: black;
}

.hobby-link:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.hobby-link:hover h4{
    color: black;
}

.hobby-section{
    gap: 150px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(232, 232, 233);
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 50px;
    color: gray
}

.hobby-section p{
    margin-top: 15px;
}

.hobby-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


/* .fixed-nav{
    position: fixed;
    top: 200px;
    left: 20px;
    margin: 0px; 
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s;
} */
/* 
.fixed-nav.show{
    opacity: 1;
} */
.interest-container{
    display: flex;
    justify-content:start;
    margin-bottom: 50px;
    max-width: 100vw;
    padding: 20px;
    padding-bottom: 100px;
    /* margin-bottom: 100px; */
    border-bottom: 2px solid  rgb(232, 232, 233);
    overflow: hidden;
}

.interest-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.contact-link-container{
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(156, 171, 197, 0.348);   */
    background-color: hsla(219, 33%, 90%, 0.383);  
    border: 5px solid rgba(156, 171, 197, 0.348);
    width: 600px;
    border-radius: 15px;
    gap: 15px;
}

.contact-link li{
    display: flex;
    align-items: center;
    /* gap: 10px; */
    justify-content: space-between;
    list-style: none;
    background-color: white;
    border-radius: 100px;
    width: 400px; 
    padding: 5px;
}

.contact-link a{
    text-decoration: none;
    color: black;
    width: 100%;
}

.contact-link img{
    width: 50px;
    margin-left: 10px;
}

.contact-link p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
}

.contact-link li:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}